.component.home-desktop {
  .background-gradient(#03677E, #132632);
  max-width: 1200px;
  height: 100vh;
}

.component.home-page {
  h1 {
    margin:0 10px 5px 0;
    line-height: 40px;
  }

  h3 {
    margin: 0 0 20px 0;
  }

  button {
    margin-left: 0;
    background-color: #07FFE7;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

  }
  #phoneImage {
    background: url("../../components/images/innov8-photos/phonescreen.png") no-repeat center;
    background-size: contain;
  }
  #predator {
    background-color: #6b1b80;
  }
}

