
/* MOVE TO APPROPRIATE PLACECECECECE*/
body {
  .background-gradient(#03677E, #132632);
}
.component.home-desktop {
  .home-page {
    height: 90vh;
    max-width: 1200px;
    h1 {
      margin: 0 10px 5px -5px;
      line-height: 70px;
      font-size: 84px;
    }
    h3 {
      margin: 10px 0 20px 0;
      line-height: 40px;
      font-size: 32px;
    }
    button {
      margin-left: 0;
      background-color: #07FFE7;
      color: black;
      font-size: 14px;
      text-transform: capitalize;
      border-bottom: 0 none;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
    #phoneImage {
      background: url("../../components/images/innov8-photos/phonescreen.png") no-repeat center;
      background-size: contain;
    }
    #predator {
      background-color: #6b1b80;
    }
  }
}

.component.bookings-desktop {
  height: 90vh;
  margin: 10vh auto 0 auto;
  max-width: 1200px;


  .details {

  }

  .contact-form {
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background-color: #F9F9F9;
    width: 100%;
    height: 100%;
    background: url("../../components/images/innov8-photos/map.png") center no-repeat;
    background-color: rgba(255,255,255,.6);
    background-blend-mode: lighten;
    h3 {
      color: black;
    }
    form {
      padding: 15px;
      max-width: 500px;
    }
    fieldset {
      box-sizing: border-box;
      width: 100%;
      margin: 0 0 10px;
      padding: 0;
      border: 1px solid #ccc;
      input, textarea ,button {
        box-sizing: border-box;
        min-width: 100%;
        min-height: 45px;
        padding: 0 0 0 10px;
        margin: 0;
      }
      textarea {
        height: 90px;
        min-height: 90px;
        padding-top: 10px;
      }
      .vdp-datepicker input {
        width: 100%;
        height: 45px;
      }
      button {
        background-color: #03677E;
        color: #FFF;
      }
    }
    fieldset input:hover, textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }
    fieldset input:focus {
      outline: 0;
      border: 1px solid #aaa;
    }
  }


  .contact-info {
    box-sizing: border-box;
    margin: 0 10px 0 10px;
    padding: 0;
    background-color: #3f4555 ;
    border: 1px solid #3f4555;
    width: 70%;
    height: 100%;
  }
  .contact-details {
    margin: 0 10px 0 10px;
    background-color: #3f4555 ;
    border: 1px solid #3f4555;
  }

}


