
/* MOVE TO APPROPRIATE PLACECECECECE*/
.view {
  flex-wrap: nowrap;
  min-height: 100%;
  .background-gradient(#03677E, #132632);


}
.component.home-desktop {
  .background-gradient(#03677E, #132632);
  min-height: 100vh;
  //width: 100vw;
}
.component.home-page {
  max-width: 1200px;

  h1 {
    margin:0 10px 5px -5px;
    line-height: 70px;
    font-size: 84px;
  }
  h3 {
    margin: 10px 0 20px 0;
    line-height: 40px;
    font-size: 32px;
  }

  button {
    margin-left: 0;
    background-color: #07FFE7;
    color: black;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

  }
  #phoneImage {
    background: url("../../components/images/innov8-photos/phonescreen.png") no-repeat center;
    background-size: contain;
  }
  #predator {
    background-color: #6b1b80;
  }
}

.welcome-desktop {
  max-width: 1200px;

}
.welcome-video {
}
.video-wrapper {
  background-image: url("../../components/images/innov8-photos/maori-pattern.png");

}
//html {
//  height: 100%;
//}
//body {
//  height: 100%;
//}
//.application {
//  height: 100%;
//}
//.welcome-desktop {
//  min-height: 100vh;
//}
